<div class="row">
    <h3 class="center-align">Crear Mascota</h3>
    <article class="clo s6 offset-s3">
        <form [formGroup]="fgValidador" method="POST" (ngSubmit)="guardarMascota()" >
            <div class="input-field">
                <label for="tipo" class="active">Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>
            </div>
            <div class="input-field">
                <label for="foto" class="active">Foto</label>
                <input formControlName="foto" type="text" name="foto" required>
            </div>
            <div class="input-field">
                <label for="estado" class="active">Estado</label>
                <input formControlName="estado" type="text" name="estado" required>
            </div>
            <div class="input-field">
                <label for="especie" class="active">Especie</label>
                <input formControlName="especie" type="text" name="especie" required>
            </div>
            <div class="input-field">
                <label for="comentario" class="active">Comentario</label>
                <input formControlName="comentario" type="text" name="comentario" required>
            </div>
            <p class="center-align">
                <button [disabled]="!fgValidador.valid" type="submit" class="waves-effect waves-light btn">
                    Guardar</button>

            </p>

        </form>

    </article>

</div>
