<div class="row">
    <h3 class="center-align">Crear Prospecto</h3>
    <article class="clo s6 offset-s3">
        <form [formGroup]="fgValidador" (ngSubmit)="guardarProspecto()" method="POST" action="formulario-contacto.php">
            <div class="input-field">
                <label for="nombre">Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>
            </div>
            <div class="input-field">
                <label for="apellido">Apellido</label>
                <input formControlName="apellido" type="text" name="apellido" required>
            </div>
            <div class="input-field">
                <label for="correo">Correo</label>
                <input formControlName="correo" type="text" name="correo" required>
            </div>
            <div class="input-field">
                <label for="celular">Celular</label>
                <input formControlName="celular" type="text" name="celular" required>
            </div>
            <div class="input-field">
                <label for="comentario">Comentario</label>
                <input formControlName="comentario" type="text" name="comentario" required>
            </div>

            <p class="center-align">
                <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit">
                    <i class="material-icons right">Send</i>enviar</button>

            </p>

        </form>

    </article>

</div>

