<div class="row">
    <h3 class="center-align">Editar usuario</h3>
    <article class="clo s6 offset-s3">
        <form [formGroup]="fgValidador" (ngSubmit)="editarUsuario()" method="POST" action="formulario-contacto.php">
            <input type="hidden" formControlName="id"/>
            <input type="hidden" formControlName="contrasena"/>
            <div class="input-field">
                <label for="cedula" class="active">Cedula</label>
                <input formControlName="cedula" type="text" name="cedula" required>
            </div>
            <div class="input-field">
                <label for="nombre" class="active">Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>
            </div>
            <div class="input-field">
                <label for="apellido" class="active">Apellido</label>
                <input formControlName="apellido" type="text" name="apellido" required>
            </div>
            <div class="input-field">
                <label for="telefono" class="active">Telefono</label>
                <input formControlName="telefono" type="text" name="telefono" required>
            </div>
            <div class="input-field">
                <label for="correo" class="active">Correo</label>
                <input formControlName="correo" type="text" name="correo" required>
            </div>
            <div class="input-field">
                <label for="rol" class="active">Rol</label>
                <input formControlName="rol" type="text" name="rol" required>
            </div>

            <p class="center-align">
                <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit">
                    <i class="material-icons right"></i>enviar</button>

            </p>

        </form>

    </article>

</div>

