<a routerLink="/administracion/crear-plan" class="btn" type="submit">Nuevo plan</a>
<table class="table responsive">
<thead>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Precio
        </th>
        <th>
            Descripción
        </th>
        <th>
            Editar
        </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let p of listadoRegistros">
        <td>
            {{p.nombre}}
        </td>
        <td>
            {{p.precio}}
        </td>
        <td>
            {{p.descripcion}}
        </td>
        <td>
            <a routerLink="/administracion/editar-plan/{{p.id}}" class="btn" type="submit">Editar producto</a>
        </td>

    </tr>

</tbody>

</table>